@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     background-color: #202124;
     color: white;
}

/* paragraphs */
@media (min-height: 200px) {
     p {
          overflow: hidden;
     }
}
p {
     max-height: 400px;
}

/* cards */
.card {
     border-color: rgb(128, 128, 128);
     border-radius: 12px;
     border-width: 1px;
     background: transparent;
     /* margin: 16px; */
     width: unset;
     display: block;
}
.card-header {
     text-align: left;
     font-weight: 500;
     font-size: 15px;
}
.card:hover {
     background: rgb(20, 20, 20);
}

/* buttons */
.btn:hover {
     background-color: gray;
     opacity: 50%;
}
.btn {
     background-color: #202124;
     font-weight: 700;
     text-align: right;
     color: rgb(187, 187, 187);
}

/* login input form */
.input-box {
     color: white;
     background: transparent;
     /* height: 44px;
     width: 250px; */
     resize: none;
     padding: 10px;
     border-radius: 8px;
     border: 1px solid grey;
     outline: none;
     box-shadow: none;
}

/* note input form */
.titleArea {
     color: white;
     background: transparent;
     height: 44px;
     width: 250px;
     resize: none;
     padding: 10px;
     border-radius: 8px;
     outline: none;
}
.textArea {
     color: white;
     background: transparent;
     height: 200px;
     /* width: 250px; */
     resize: none;
     padding: 10px;
     border-radius: 8px;
     border: 1px solid grey;
     outline: none;
     box-shadow: none;
}

/* id selectors */
#display-2 {
     padding: 15px;
     background: #202124;
     text-align: center;
     font-weight: 500;
     color: white;
     border-bottom: solid gray;
     border-width: 1px;
}
#display-4 {
     background-color: #202124;
     text-align: center;
     font-weight: 500;
     color: white;
}
#title {
     display: block;
     padding: 5px;
}
#inputDiv {
     background-color: #202124;
}

/* card columns breakpoints */
@media (min-width: 576px) {
     .card-columns {
          column-count: 2;
          min-width: 576px;
          grid-column-gap: 10px;
     }
     .container {
          width: 250px;
     }
}
@media (min-width: 768px) {
     .card-columns {
          column-count: 3;
          min-width: 768px;
          grid-column-gap: 10px;
     }
     .container {
          width: 250px;
     }
}
@media (min-width: 992px) {
     .card-columns {
          column-count: 4;
          min-width: 992px;
          grid-column-gap: 10px;
     }
     .container {
          width: 250px;
     }
}
@media (min-width: 1200px) {
     .card-columns {
          column-count: 5;
          min-width: 1200px;
          grid-column-gap: 10px;
     }
     .container {
          width: 250px;
     }
}

/* modal */
.modal-bg {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     visibility: hidden;
     opacity: 0;
     align-items: center;
     transition: visibility 0.5s, opacity 0.5s;
}
.bg-active {
     color: black;
     visibility: visible;
     opacity: 1;
}
.modal-btn {
     color: rgb(187, 187, 187);
}
.modal-in {
     position: relative;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #202124;
     width: 800px;
     height: 400px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     border-radius: 10px;
}
.modal-close {
     color: gray;
     position: absolute;
     top: 0px;
     left: 775px;
     font-size: 30px;
     font-weight: bold;
     transform: rotate(45deg);
     cursor: pointer;
}
.titleAreaModal {
     color: white;
     background: transparent;
     height: 50%;
     width: 100%;
     resize: none;
     padding: 10px;
     border-radius: 8px;
     outline: none;
}
.textAreaModal {
     color: white;
     background: transparent;
     height: 250px;
     width: 700px;
     resize: none;
     padding: 10px;
     border-radius: 8px;
     outline: none;
     scrollbar-base-color: teal;
}

/* footer */
footer {
     height: 30px;
     clear: both;
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #202124;
     color: grey;
     text-align: center;
}

.link {
     color: grey;
}

/* Animation */
.blinking-cursor {
     white-space: nowrap;
     overflow: hidden;
     text-align: center;
     font-family: "Source Code Pro", monospace;
     font-size: 28px;
     color: rgba(255, 255, 255, 0.7);
}

/* loader */

.loader-wrapper {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader {
     display: inline-block;
     width: 30px;
     height: 30px;
     position: relative;
     border: 4px solid #fff;
     animation: loader 2s infinite ease;
}

.loader-inner {
     vertical-align: top;
     display: inline-block;
     width: 100%;
     background-color: #fff;
     animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
     0% {
          transform: rotate(0deg);
     }

     25% {
          transform: rotate(180deg);
     }

     50% {
          transform: rotate(180deg);
     }

     75% {
          transform: rotate(360deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

@keyframes loader-inner {
     0% {
          height: 0%;
     }

     25% {
          height: 0%;
     }

     50% {
          height: 100%;
     }

     75% {
          height: 100%;
     }

     100% {
          height: 0%;
     }
}
